@model CryptoNews.Models.ViewModels.NewsDetailsVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>News</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Model.Title
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Model.Description
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class="col-sm-10">
            @Model.Body
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PubDate)
        </dt>
        <dd class="col-sm-10">
            @Model.PubDate
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10">
            @Model.Rating
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class="col-sm-10">
            @Model.Url
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RssSourceId)
        </dt>
        <dd class="col-sm-10">
            @Model.RssSourceId
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<div class="row ">
    <button id="comments-show" class="btn btn-primary col-sm-12" onclick="toggleComments('@Model.Id')">
        Show comments
    </button>
    <div class="container">
        <div id="comments-container" class="row">
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/comments.js"></script>
}